body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post{
  padding: 20px 20px 20px 20px;
  /* display: flex; */
  border: 2px solid red;
}

.post .info{
  display: flex;
}

.post .postBody{
  display: flex;
}

.post .photo{
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
}

.post .userPhoto{
  position: center;
  height: 90px;
  width: 90px;
}

.post .name{
  font-weight: bolder;
  margin: 0px 10px 0px 0px;
  
}

.post .nickname{
  color: #b8c3c7;
  margin: 0px 10px 0px 0px;
}

.post .date{
  color: #b8c3c7;
  margin: 0px 10px 0px 0px;
}

.post .content{
  text-align:start ;
  margin: 0px 10px 0px 0px;
}

.post .postPhoto{
  overflow: hidden;
  border-top: 50%;
}